
@tailwind base;
@tailwind components;
@tailwind utilities;
.img3{
  width: 200px ;
  height: 200px;
}

.container1{
  height: 100vh;
  background: #beaeae;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 100%;

}

.mine-div{
display: flex;
text-align: center;
justify-content: space-between;
align-items: center;




}